a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(167, 167, 167);
}

.news_href {
    font-weight: bold;
    color: rgba(0, 0, 255, 0.623);
}

.nav_panel {
    margin: auto;
    background-color: rgb(87, 87, 87);
    height: 50px;
    width: 100%;
}

.nav_content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.nav_content_logo, .nav_content_discord, .nav_content_youtube, .nav_content_faq {
    float: left;
}

.nav_content_logo {
    padding-top: 8px;
    padding-left: 20px;

    color: yellow;
}

.nav_content_discord {
    padding-top: 8px;
    padding-left: 30px;
}

.nav_content_youtube {
    padding-top: 8px;
    padding-left: 30px;
}

.nav_content_faq {
    padding-top: 8px;
    padding-left: 30px;
}

.block_content_panel {
    margin: auto;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    
    height: 100%;

    background-color: rgb(77, 77, 77);
}

.block_content_news {
    margin-left: 150px;
    margin-right: 150px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.block_content_high_news_h2 {
    text-align: center;
    margin-bottom: 0px;
}

.block_content_high_news_content {
    margin-top: 5px;
    padding-bottom: 25px;

    font-size: 19px;
}

